PHONEPE_ENV=UAT
PHONEPE_MERCHANT_ID=M22NWE1VKHQGZ_2603301800
PHONEPE_MERCHANT_SECRET=NzBhNTE4M2QtOTc0ZS00ZGQzLWE1MjgtOTc1MmRkNDQ5ODk0
PHONEPE_CLIENT_ID=M22NWE1VKHQGZ_2603301800
PHONEPE_CLIENT_SECRET=NzBhNTE4M2QtOTc0ZS00ZGQzLWE1MjgtOTc1MmRkNDQ5ODk0
PHONEPE_BASE_URL=https://api-preprod.phonepe.com
PHONEPE_CALLBACK_URL=http://localhost:8000/api/payments/phonepe/callback
PHONEPE_REDIRECT_URL=http://localhost:5173/payment/status
PHONEPE_WEBHOOK_SECRET=
PAYMENT_EXPIRY_MINUTES=15
DATABASE_URL=postgresql://inventory_a64m_user:0rvU2Okz9BPqIRlJryqfR4JusdQUJ5mu@dpg-d98a1m67r5hc73coh1og-a/inventory_a64m
APP_CORS_ORIGINS=*
APP_SECRET_KEY=change-this-secret-in-production
